@import "font-awesome-sprockets";
@import "font-awesome";

.mdl-data-table{
	white-space: normal !important;
}

.full-width{
	width:100%;
}

.mdl-card__title > h4, .mdl-card__title > h4 >.mdl-card__subtitle-text{
	color: #fff;
}

.mdl-textfield{
	width:205px !important;
}

.mdl-textfield select{
	border:1px solid lightgrey;
	height:30px;
	background-color:transparent;
}

.mdl-textfield select option{
	font-family: "Roboto";
}

.sign-up{
	padding:20px;
	text-align:center;
}

.sign-up .mdl-card__supporting-text{
	min-height: 350px;
}
