.breadcrumb{
	background-color: transparent;
	padding-left: 0px;
}

.document{
	.title{
		text-align: center;
	}

	.delete-link{
		display:none;
	}

	/*td{
		border:1px solid grey;
	}

	table{
		width:100%;
	}*/
}