.invoice-cards{
	list-style:none;

    .card{
    	border: 1px solid lightgrey;
    	border-radius: 3px;
    	margin-bottom: 20px;
    	margin-left:20px;
    	height:150px;
    	text-align:center;
    	padding-top:60px;

    	a{
    		
    	}
    }
}
