<!-- Header. Like "navbar" -->
<header class="mdl-layout__header">
	<!-- Icon -->
	<div class="mdl-layout-icon"></div>
	<!-- A row in the header. MDL supports multiple rows in the header -->
	<div class="mdl-layout__header-row">
		<!-- Title. Like "navbar-brand" -->
		<span class="mdl-layout-title">Invoices</span>
	</div>
</header>